@using Kendo.Mvc.UI
@using HotelReservations.Web.Areas.SiteAdministration.Models
@model HotelAdminsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Hotel Admins</h2>

@*@foreach (var item in Model)
{
    Html.DisplayFor(model => model.HotelAdmins);
}*@

@*@Html.DisplayFor(model => model.HotelAdmins);*@

@foreach (var hotelAdmin in Model.HotelAdmins)
{
    <div>
        @hotelAdmin.UserName
    </div>
}

@*@(Html.Kendo().Grid<HotelAdminViewModel>()
        .Name("grid")
        .Columns(columns => {
            columns.Bound(pr => pr.UserName);
            

        })
        //.Editable()
        .Pageable()
        .Sortable()
        )*@
