@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Telerik Academy<br />
    Stefan Dantchev<br />
    <abbr title="Phone">P:</abbr>
    0888-554810
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:st_dantchev@abv.bg">st_dantchev@abv.bg</a><br />
</address>